version: "3.9"

services:
  frontend:
    image: "explorer-frontend-production"
    container_name: explorer-frontend-production
    build:
      context: ..
      dockerfile: docker/build/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    volumes:
      - ./logs:/app/logs
      - ./config:/app/config
    environment:
      SENTRY_ENVIRONMENT: Production
    command: node server.js
    networks:
      - frontend-production
    ports:
      - 3000:3000
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "20m"

networks:
   frontend-production:
      name: frontend-production-network
