version: "3.9"

services:
  frontend:
    image: "explorer-frontend-${DEPLOY_ENV:-production}"
    container_name: explorer-frontend-${DEPLOY_ENV:-production}
    build:
      context: ..
      dockerfile: docker/build/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    volumes:
      - ./logs:/app/logs
      - ./config:/app/config
    command: node server.js
    networks:
      - frontend
    ports:
      - ${FRONTEND_PORT:-3000}:3000
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "20m"

networks:
   frontend:
      name: frontend-${DEPLOY_ENV:-production}-network
